/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sen:wght@400..800&display=swap');

/* Global Style Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(#5589ff, white);
    background-size: cover;
    color: #fff;
}

.mark {
    width: 100%;
    height: 100%;
    color:#333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_ipt {
    width: 450px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title {
    font-family: 'Righteous', sans-serif;
    text-align: center;
    color: #333;
    font-size: 40px;
    margin-bottom: 20px;
}

.sm_title {
    font-family: 'Righteous', sans-serif;
    text-align: center;
    color: #555;
    font-size: 30px;
    margin-bottom: 20px;
}

.ipt {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background: #fff;
    outline: none;
    border: 1px solid #ccc;
    padding: 0 20px;
    border-radius: 10px;
    font-size: 18px;
}

.register_con {
    display: flex;
    justify-content: flex-end;
}

.register_con a {
    color: #333;
    font-family: 'Sen', sans-serif;
    text-decoration: none;
}

.login_btn {
    width: 100%;
    height: 50px;
    font-size: 18px;
    font-family: 'Sen', sans-serif;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    background: #5589FF;
    color: white;
    border: none;
}

.login_btn:hover {
    background: #3462D3;
    color: #fff;
}